[submodule "ocropy"]
	path = ocropy
	url = git@github.com:ocropus/ocropy.git
[submodule "page-py"]
	path = page-py
	url = git@github.com:fstrunz/page-py.git
[submodule "calamari_models_experimental"]
	path = calamari_models_experimental
	url = git@github.com:Calamari-OCR/calamari_models_experimental.git
